.card{
  margin-top: 2%;
}
*{
  margin: 0%;
}
.container-fluid ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-fluid li{
  padding-left: 2%;
  padding-right: 2%;
}
.titulo h1{
  text-align: center;
}
.botones{
  display: flex;
  height: 3em;
  justify-content: space-between;
}